<div id="contact">
    <header-block></header-block>


    <div class="contact">
        <div class="contact_title" id="section">
            <div class="container">
                <div layout="row" layout-align="center">
                    <h2 class="main_title"><span>{{'contact_us' | translate}}</span>{{'contact_us' | translate}}</h2>
                </div>
                <div class="contact_block" layout="row">
                    <div layout="column">
                        <div class="contact_phones" layout="column" layout-wrap>
                            <div layout="column" layout-align="start">
                                <h3>{{'contact_phones_1' | translate}}</h3>
                                <div class="contact_phones_mail" layout="row">
                                    <a href="mailto:office@araripe.com"><i class="fas fa-envelope"></i>office@araripe.com</a>
                                </div>
                                <div class="contact_phones_phone" layout="column">
                                    <a href="tel:+440000000000"><i class="fas fa-phone"></i>UK: +44 0000000000</a>
                                    <a href="tel:+37000000000"><i class="fas fa-phone"></i>EU: +371 000000000</a>
                                    <a href="tel:+770700000000"><i class="fas fa-phone"></i>KZ: +77 0700000000</a>

                                </div>
                            </div>
                            <div layout="column" layout-align="start">
                                <h3>{{'contact_phones_2' | translate}}</h3>


                                <div class="contact_phones_mail" layout="row">
                                    <a href="mailto:managers@araripe.com"><i class="fas fa-envelope"></i>managers@araripe.com</a>
                                </div>
                                <div class="contact_phones_phone" layout="column">
                                    <a href="tel:+440000000000"><i class="fas fa-phone"></i>UK: +44 0000000000</a>
                                    <a href="tel:+37000000000"><i class="fas fa-phone"></i>EU: +371 000000000</a>
                                </div>
                            </div>
                        </div>
                        <div class="contact_pay">
                            <h3>{{'contact_pay_title' | translate}}</h3>
                            <div layout="row" layout-align="space-between center" layout-wrap>
                                <div class="contact_pay_item" ng-repeat="item in vm.items" layout="column">
                                    <h4>{{item.title | translate}}</h4>
                                    <a href="mailto:{{item.contact}}"><i class="fas fa-envelope"></i>{{item.contact}}</a>
                                </div>

                            </div>
                        </div>
                        <div class="contact_marketing">
                            <h3>{{'contact_marketing_title'| translate}}</h3>
                            <a href="mailto:marketing@araripe.com"><i class="fas fa-envelope"></i>marketing@araripe.com</a>
                        </div>
                    </div>
                    <div class="contact_form">
                        <h4>Say something</h4>
                        <p>To start working with us, fill in the feedback form
                            to open your merchant account
                            and take advantages of the many benefits Araripe
                            can provide your customers.</p>
                        <form class="form-contact" name="contactForm" novalidate layout="column" layout-align="center start">

                            <md-input-container class="md-block" md-no-float>
                                <input type="text" name="name" placeholder="Name" md-autofocus ng-model="vm.form.name">
                            </md-input-container>

                            <md-input-container class="md-block" md-no-float>
                                <input type="text" name="companyName" placeholder="Company name" ng-model="vm.form.companyName">
                            </md-input-container>

                            <md-input-container class="md-block" md-no-float>
                                <input type="text" name="link" placeholder="Web site" ng-model="vm.form.link">
                            </md-input-container>

                            <md-input-container class="md-block" md-no-float>
                                <input type="text" name="phone" placeholder="Phone" ng-model="vm.form.phone">
                            </md-input-container>


                            <md-input-container class="md-block" md-no-float>
                                <input type="text" name="theme" placeholder="Theme" ng-model="vm.form.theme">
                            </md-input-container>


                            <md-input-container  md-no-float>
                                <label> </label>
                                <textarea md-no-resize  name="message" placeholder="Message"  id="" cols="30" rows="5" ng-model="vm.form.message"></textarea>
                            </md-input-container>



                            <div id="button-register" class="button-log__in ">
                                <button ng-click="vm.sendContact(contactForm)"
                                        ng-disabled="contactForm.$invalid || contactForm.$pristine"
                                        class="main_button primary">
                                    {{'contact_form_button' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<contact-form></contact-form>-->

    <logo-block></logo-block>

    <footer-block></footer-block>
</div>