#technology {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  .technology_title {

    max-width: 4000px;
    margin: 0 auto;
    padding-top: 116px;
    height: 640px;
    width: 100%;
    background: {
      image: url("../../content/img/technology/technology_bg.png");
      size: cover;
      position-y: bottom;
      position-x: center;
    }
    position: relative;
    z-index: 1;
    .container {
      height: 100%;
      div {
        height: 50%;
        position: relative;
        text-align: center;
        h2 {
          color: #ffffff;
          font: {
            size: 55px;
            //weight: 300;
          }
          text-transform: uppercase;
          letter-spacing: 4px;
          //margin-left: 50px;;
        }
        p {
          width: 615px;
          color: #ffffff;
          font-size: 18px;
          font-family: "Raleway", sans-serif;
          font-style: italic;
          text-align: left;
          margin-top: 100px;
        }
      }
    }
  }
  .technology_main {
    position: relative;
    //background: {
    //  image: linear-gradient(122deg, #ff0037 0%, #e92084 100%);;
    //}
  ;
    .container {
      //width: 960px;
      .technology_main_title {
        padding-top: 100px;
        padding-bottom: 150px;
        p {
          width: 66.66667%;
          font-size: 20px;
          line-height: 32px;
          font-family: "Merriweather", serif;
          font-weight: 300;
          font-style: italic;
          color: #97a3b4;
          margin: 0;
          z-index: 1;
          position: relative;
        }

      }
      .technology_main_body {
        overflow: hidden;
        padding: 30px 12px;
        padding-bottom: 100px;
        .technology_main_item {
          box-sizing: border-box;
          width: 550px;
          height: 450px;
          background: white;
          margin: 10px 0;
          z-index: 1;
          position: relative;
          padding: 40px;
          border-radius: 25px;
          box-shadow: 0px 0px 25.8px 17.2px rgba(0, 0, 0, 0.08);
          div {
            min-height: 150px;
            //margin-bottom: 20px;
            //padding-bottom: 14px;
            //border-bottom: 1px solid #ebeef0;
            text-align: center;
            background: {
              size: auto;
              position: center;
              repeat: no-repeat;
            }
          ;
            h4 {
              line-height: 40px;
              font-size: 48px;
              font-family: "Raleway", sans-serif;
              font-weight: 600;
              color: #fd4c55;
              margin: 0;
            }
          }
          p {
            font: {
              family: "Raleway", sans-serif;
              weight: 400;
            }
          ;
            color: #303030;
            font-size: 18px;
            line-height: 26px;
          }

        }
        .technology_main_item:nth-child(1) {
          div {
            background-image: url("../../content/img/technology/internet.png");
          }
        }
        .technology_main_item:nth-child(2) {
          div {
            background-image: url("../../content/img/technology/lock.png");
          }
        }
        .technology_main_item:nth-child(3) {
          div {
            background-image: url("../../content/img/technology/puzzle.png");
          }
        }
        .technology_main_item:nth-child(4) {
          div {
            background-image: url("../../content/img/technology/chain.png");
          }
        }

      }

    }
  }
  .technology_list {
    background: {
      image: url("../../content/img/technology/technology_list_bg.png");
      size: cover;
      position: center;
    }
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
  ;
    padding-bottom: 120px;
    .container {
      h3 {
        line-height: 56px;
        font-size: 48px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        text-align: center;
        display: block;
        color: #ffffff;
        margin: 0;
        padding: 50px 0 50px ;
      }
      .technology_item {
        width: 1000px;
        margin: 0 auto;
        .accordion {
          background-color: rgba(0, 0, 0, .2);
          color: #ffffff;
          cursor: pointer;
          padding: 30px;
          padding-left: 90px;
          width: 1000px;
          margin: 50px auto 0;
          border: none;
          text-align: left;
          border-radius: 65px;
          outline: none;
          transition: 0.6s all ;
          transition-delay: .4s  !important;
          font-family: 'Raleway', sans-serif;
          font-weight: 300;
          line-height: 40px;
          font-size: 32px;
          position: relative;
          img {
            width: 40px;
            height: auto;
            max-height: 50%;

            position: absolute;
            margin-left: -50px;
          }
          i{
            float: right;
            font-size: 50px;
            line-height: 40px;
            transition: .5s all;
          }
        }
        .active {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          transition: 0.05s border-radius;
          transition-delay: 0s !important;
          i{
            transform: rotateX(180deg);
          }
        }
        .active, .accordion:hover {

          font-size: 33px;
        }

        .panel {
          box-sizing: border-box;
          width: 1000px;
          padding: 0 60px;
          background-color: rgba(0, 0, 0, .2);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
          border-bottom-right-radius: 65px;
          border-bottom-left-radius: 65px;

          p {
            padding: 30px 0;
            margin-bottom: 30px;
            font-size: 18px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            line-height: 30px;
            color: #ffffff;

          }
        }

      }
    }

  }
  
  @keyframes accordion {
    0%{
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    30%{
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    100%{
      border-bottom-right-radius: 65px;
      border-bottom-left-radius: 65px;
    }

  }

  //media

  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1500px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .technology_list {
      .container {
        .technology_item {
          width: 900px;
          .accordion {
            width: 900px;
          }
          .panel {
            width: 900px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      width: 730px !important;
    }
    .technology_list {
      .container {
        .technology_item {
          width: 730px;
          .accordion {
            width: 730px;
          }
          .panel {
            width: 730px;
          }
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .container {
      width: 530px !important;
    }
    .technology_title {
      p {
        width: initial !important;
        margin-top: 0 !important;
      }
    }

    .technology_list {
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      .container {
        .technology_item {
          width: 530px;
          .accordion {
            width: 530px;
          }
          .panel {
            width: 530px;
            padding-left: 18px;
            p {
              width: auto;
            }
          }
        }
      }
    }
  }

  @media (max-width: 540px) {
    .container {
      width: 300px !important;
    }
    .technology_title {
      h2 {
        letter-spacing: 1px !important;
        font-size: 40px !important;
        margin-left: 0 !important;
      }
      p {
        width: initial !important;
        margin-top: 0 !important;
      }

    }
    .technology_main {
      .container {

        .technology_main_body {
          .technology_main_item {
            box-shadow: 0px 0px 25.8px 0.2px rgba(0, 0, 0, 0.08);
            height: auto;
            div {
              h4 {
                font-size: 33px;
              }
            }
            p {
              text-align: justify;
            }
          }
        }
        .technology_main_body:before {
          height: 750px;
        }
      }
    }
    .technology_list {
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      .container {
        .technology_item {
          width: 300px;
          .accordion {
            width: 300px;
          }
          .panel {
            width: 300px;
            padding-left: 18px;
            p {
              width: auto;
            }
          }
        }
      }
    }
  }

}