#about {

  //template
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42857;
  color: #384656;
  width: 100%;
  height: 100%;
  .about_title {
    padding-top: 116px;
    height: 640px;
    width: 100%;
    background: {
      image: url("../../content/img/about/about_header_bg.png");
      size: cover;
      position-y: bottom;
      position-x: center;
    }
    position: relative;
    z-index: 1;
    .container {
      height: 100%;
      div {
        height: 50%;
        position: relative;
        text-align: center;
        h2 {
          padding-top: 100px;

          color: #ffffff;
          font: {
            size: 55px;
            //weight: 300;
          }
          text-transform: uppercase;
          letter-spacing: 4px;
          //margin-left: 50px;;
        }
        p {
          width: 615px;
          color: #ffffff;
          font-size: 18px;
          font-family: "Raleway", sans-serif;
          font-style: italic;
          text-align: left;
          margin-top: 100px;
        }
      }
    }
  }
  .about_about {
    padding-top: 100px;
    padding-bottom: 70px;
    .container {
      div {
        .number_block {
          p {
            font: {
              size: 300px;
              family: 'Open Sans', sans-serif;
            }
          ;
            margin: 0;
            color: #fdf3f6;
            padding: 0 20px;
          }
        }
        .text_block {
          border-radius: 25px;
          box-shadow: 0px 0px 25.8px 17.2px rgba(0, 0, 0, 0.08);
          width: 850px;
          margin: 50px 0;
          p {
            font: {
              family: "Raleway", sans-serif;
              size: 18px;
              weight: 400;
            }
          ;
            padding: 0 15px;
            line-height: 24px;

          }
        }
      }
    }
  }

  .about_map {
    background: {
      image: url("../../content/img/about/internet.png");
      size: auto;
      position: top;
      repeat: no-repeat;
    }
  ;
    width: 100%;
    height: auto;
    .container {
      .about_map_text {
        padding-bottom: 60px;
        div {
          width: 300px;
          height: 300px;
          text-align: center;
          font-family: "Roboto", sans-serif;
          color: #ee1b46;
          box-shadow: 0px 0px 25.8px 17.2px rgba(0, 0, 0, 0.08);
          border-radius: 35px;
          background: white;
          margin-bottom: 40px;
          h3 {
            margin-bottom: 10px;
            margin-top: 60px;
            font-size: 115px;
            line-height: 1;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
          }
          p{
            font: {
              family: "Raleway", sans-serif;
              weight: 400;
              size: 18px;
            };
            color: #303030;
            padding: 0 15px;
          }
        }
      }
      .about_map_value {
        padding-bottom: 80px;
        h3 {
          line-height: 56px;
          font-size: 48px;
          //font-family: "Raleway", sans-serif;
          font-weight: 300;
          text-align: center;

        }
        .about_map_value_item {
          width: 160px;
          box-sizing: border-box;
          padding-bottom: 40px;
          img {
            width: 40px;
            height: 40px;
          }
          h4 {
            margin-top: 26px;
            margin-bottom: 10px;
            line-height: 1;
            font-size: 24px;
            font-weight: 400;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
  .about_value{
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    background: {
      //image: url("../../content/img/about/internet.png");
      size: auto;
      color: #5d6364;
      position: top;
      repeat: no-repeat;
    }
    height: 700px;
    .container{
      h3{
        color: white;
        text-align: center;
        font: {
          family: "Raleway", sans-serif;
          size: 48px;
          weight: bold;
        };
        padding: 40px 0;
        margin: 0;
      }

      .about_map_value_item{
        color: white;
        text-align: center;
        width: 400px;
        height: 200px;
        margin: 30px auto;
        border-radius: 30px;
        background: rgba(0,0,0,0.2);
        img{
          width: 40px;
          margin: 40px auto 0;
        }
        h4{
          font: {
            family: "Raleway", sans-serif;
            size: 30px;
            weight: 600;
          };
          margin: 5px auto;
        }
        p{
          font: {
            family: "Raleway", sans-serif;
            size: 18px;
            weight: 400;
          };
          margin: 5px auto;
          padding: 0 10px;

        }
      }

    }
  }


  //media

  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1500px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {
    .about_title {
      .container {
        div {
          p {
            margin-top: 50px;
          }
        }
      }

    }
    .about_value{
      .container{
        .about_map_value_item{
          width: 350px;
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .about_title {
      .container {
        div {
          p {
            margin-top: 10px;
            width: 500px;
            text-align: center;
          }
        }
      }

    }
    .about_about {
      .container {
        div {
          .number_block {
            display: none;
          }
        }
      }
    }
    .about_office {
      .container {
        .first_block {
          flex-direction: column;
        }
        .second_block {
          width: auto;
        }
      }
    }
    .about_value{
      height: auto;
      .container{
        .about_map_value_item{

        }
      }
    }
  }

  @media (max-width: 540px) {
    .about_title {
      .container {
        div {
          h2 {
            padding-top: 50px;
            letter-spacing: 1px !important;
            font-size: 54px !important;
            margin-left: 0 !important;
          }
          p {
            margin-top: -50px;
            width: 300px;

            text-align: center;

          }

        }
      }

    }
    .about_about {
      .container {
        div {
          .number_block {
            display: none;
          }
        }
      }
    }

    .about_map {
      .container {
        .about_map_text {
          flex-wrap: wrap;
        }
      }
    }

   .about_value{
     height: auto;
     border-radius: 0 !important;
      .container{
        .about_map_value_item{

        }
      }
    }
  }

}