#homepage {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  //template

  .homepage {
    width: 100%;

    //main_section

    .main_section {
      max-width: 4000px;
      margin: 0 auto;
      width: 100%;
      height: 750px;
      background: {
        image: url("../../content/img/homepage_bg_main.png");
        size: cover;
        position-y: bottom;
        position-x: center;
      }
    ;
      position: relative;
      .main_section_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .container {
        height: 100%;
        z-index: 2;
        position: relative;
        div {
          height: 100%;
          width: 100%;
          h1, h2 {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Raleway', sans-serif;
          }

          h1, h2 {

            font: {
              size: 55px;
              weight: 600;
            }
          ;
            margin: 0px;
          }
          h1 {
            line-height: 50px;
            margin-top: 200px;
          }
          button {
            height: initial;
            padding: 18px 24px;
            margin-top: 140px;
            margin-left: 100px;

          }

        }
      }
    }

    //main_section

    //solution

    .solution {
      width: 100%;
      padding: 120px 0 150px;
      height: 820px;
      background: linear-gradient(180deg, #ffffff 0%, #ffeded 100%);
      //background: #ffffff;
      .container {
        .solution_title {
          p {
            margin: 0;
          }
          text-align: center;
          div:first-child {
            max-width: 495px;
            margin-bottom: 0;
            float: left;
            p {
              line-height: 40px;
              color: #303030;
              font: {
                size: 30px;
                family: "Raleway", sans-serif;
                weight: bold;
              }
            }
          }
          div:last-child {
            //max-width: 320px;
            margin-bottom: 0;
            float: right;
            p {

              font-family: 'Raleway', serif;
              font: {
                size: 20px;
                weight: 400;
                style: italic;
              }
              color: #303030;
              line-height: 75px;

            }
          }

        }
        .solution_body {
          position: relative;
          //width: 960px;
          margin: 0 auto;
          padding-top: 160px;
          .solution_item {
            position: relative;
            width: 515px;
            height: 510px;
            padding: 30px;
            border-radius: 50px;
            transition: .8s all;
            box-shadow: 0px 0px 25.8px 17.2px rgba(0, 0, 0, 0.08);
            color: #303030;
            .background {
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0) !important;
              margin: 0;
              padding: 0;
              //z-index: 10;
              margin-top: -30px;
              margin-left: -30px;
              position: absolute;
              transition: .8s all;
              border-radius: 50px;

            }
            .solution_body_item {
              position: relative;
              z-index: 3;
              height: 300px;
              width: 350px;
              //width: ;
              p, h3, span {
                //color: white;
                text-transform: uppercase;
              }
              p {
                color: #ff5252;
                font: {
                  family: "Raleway", sans-serif;
                  size: 24px;
                  weight: 600;
                }
                margin: 15px 0;
              }
              h3 {
                font: {
                  family: "Raleway", sans-serif;
                  size: 48px;
                  weight: 600;
                }
                line-height: 55px;
                margin: 10px 0;;
              }
              span {
                text-transform: none;
                max-width: 160px;
                opacity: 1;
                transition: .8s all;
                font: {
                  size: 28px;
                  family: 'Open Sans', sans-serif;
                  weight: 400;
                }
              }
              img {
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }

          }
          .solution_item:nth-child(1) {
            //left: 23%;
            background: {
              image: url("../../content/img/solutions/card_1.png");
              size: auto;
              position: center;
              repeat: no-repeat;
            }
          ;
            .solution_body_item {
              z-index: 3;
            }
          }
          .solution_item:nth-child(2) {
            //left: 50%;
            //margin-top: 10px;
            background: {
              image: url("../../content/img/solutions/card_2.png");
              size: auto;
              position: center;
              repeat: no-repeat;
            }
          ;
            .solution_body_item {
              z-index: 4;
            }
          }

          .solution_item:nth-child(1):hover {
            margin-top: -20px;
            .background {
              background: rgba(0, 0, 0, 0.4) !important;
              margin-top: -30px;
            }
            .solution_body_item {
              span {
                opacity: 1;
              }
            }
          }
          .solution_item:nth-child(2):hover {
            margin-top: -10px;
            .background {
              background: rgba(0, 0, 0, 0.4) !important;
              margin-top: -30px;
            }
            .solution_body_item {
              span {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    //solution

    .proactive {
      width: 100%;
      padding-top: 70px;
      padding-bottom: 50px;
      height: 620px;
      background: #fcfcfc;
      .container {
        width: 960px;
        height: 600px;
        text-align: center;
        div:nth-child(1) {
          //width: 560px;
          text-align: center;
          h3 {
            line-height: 56px;
            font: {
              family: "Raleway", sans-serif;
              size: 48px;
              weight: bold;
            }
            //position: relative;

            color: #303030;
          }
          .proactive_list {
            //height: 45px;

            div {
              margin: 16px 0;
              width: 50%;
              height: 45px;

              button {
                background: transparent;
                border: none;
                width: 345px;
                padding: 0 20px;
                text-align: left;
                font: {
                  family: "Open Sans", sans-serif;
                  size: 20px;
                  weight: 600;
                }
                transition: .5s opacity;
              }
              button:hover {
                opacity: .6;

              }
            }
          }
          button.main_button {
            margin: 50px auto 0;
            //font-size: 20px;
            //border-radius: 23px;
          }

        }
        div.proactive_img {
          width: 380px;
          position: relative;
          div {
            width: 100%;
            text-align: center;
            margin: 20px;

            position: absolute;
          }
          .proactive_0,
          .proactive_1,
          .proactive_2,
          .proactive_3,
          .proactive_4,
          .proactive_5,
          .proactive_6,
          .proactive_7 {
            position: absolute;
            //padding: 0px;
            margin-bottom: 20px;
            transition: .5s opacity, .5s margin;
          }

          .proactive_0 {
            bottom: 200px;
            z-index: 8;
          }
          .proactive_1 {
            bottom: 150px;
            z-index: 7;
          }
          .proactive_2 {
            bottom: 100px;
            z-index: 6;
          }
          .proactive_3 {
            bottom: 50px;
            z-index: 5;
          }
          .proactive_4 {
            bottom: 0px;
            z-index: 4;
          }
          .proactive_5 {
            bottom: -50px;
            z-index: 3;
          }
          .proactive_6 {
            bottom: -100px;
            z-index: 2;
          }
          .proactive_7 {
            bottom: -150px;
            z-index: 1;
          }
        }

      }
    }

    //carousel

    .carousel {
      max-width: 2400px;
      margin: 0 auto;
      background: linear-gradient(180deg, #fcfcfc 0%, #ffffff 100%);
      //.container {
      height: 800px;
      position: relative;
      padding: 40px 0;

      .carousel_content {
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;

        $big_width: 100%; //Slider width - large display
        $big_height: 40%; //Slider height - large display
        $big_nav_width: 12%; // Previous and Next width - large display

        $small_width: 100%; //Slider width - small display
        $small_height: 55%; //Slider height - small display
        $small_nav_width: 15%; // Previous and Next width - small display

        $box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
        $nav_color: rgba(255, 82, 82, .2);
        $nav_hover_color: rgba(255, 82, 82, .8);

        //margin: 40px auto;

        width: $big_width;
        height: 800px;
        user-select: none;
        background-color: #303030;
        box-shadow: $box-shadow;

        input {
          display: none;
        }
        h3 {
          top: 5%;
          left: 50%;
          margin-left: -282px;
          margin-bottom: 100px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 42px;
          position: absolute;
          z-index: 3;
          width: 565px;
          color: #ffffff;
          text-align: center;

        }

        .slide_img {
          position: absolute;
          width: 100%;
          height: 800px;
          z-index: -1;
          opacity: 1;
          transition: .5s opacity;

          img {
            border-top-left-radius: 200px;
            border-bottom-right-radius: 200px;
            width: inherit;
            height: inherit;
            filter: brightness(20%);
            object-fit: cover;

          }

          .prev, .next {
            //width: $big_nav_width;
            position: absolute;
            top: 55%;
            z-index: 99;
            transition: .45s;
            cursor: pointer;
            text-align: center;
          }
          .next {
            right: 24%;
            //top: 60%;
          }
          .prev {
            left: 20%;
          }

          .prev:hover, .next:hover {
            transition: .5s;
            background-color: $nav_hover_color;
          }

          .prev span, .next span {

            position: absolute;
            width: 40px;
            height: 40px;
            //border: solid 20px;
            top: 50%;
            color: white;
            transform: translateY(-50%);
          }

          .prev span i {
            color: white;
            font-size: 40px;
            //content: '\f060';
            right: 35%;
          }
          .next span i {
            color: white;
            font-size: 40px;
            //border-color: transparent transparent transparent #fff;
            left: 35%;
          }

          .slide_content {
            max-height: 350px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            position: absolute;
            z-index: 3;
            top: 38%;
            width: 600px;
            left: 50%;
            margin-left: -300px;
            color: #ffffff;
            font-family: "Raleway", sans-serif;
            h4 {
              font: {
                size: 40px;
                weight: 300;
              }
              padding: 0 20px;
            }
            p {
              font-size: 20px;
              padding: 0 20px 40px;
              margin-bottom: 50px;
            }
            .slide_content_button {
              position: relative;
              button {
                position: absolute;
                left: 50%;
                margin-left: -150px;
                margin-top: -45px;
              }
            }
          }
        }

        #nav_slide {
          width: 100%;
          top: 30%;
          height: 2px;
          position: absolute;
          z-index: 4;
          cursor: default;

          .dots {
            top: -30px;
            width: 150px;
            height: 2px;
            position: relative;
            display: inline-block;
            background: transparent;
            transition: .8s;
            cursor: pointer;
            border: none;
            z-index: 2;
            p {
              line-height: -10px;
              margin: 20px;
              margin-top: -50px;
              //margin-bottom: 20px;
              z-index: 2;
              color: #ffffff;
              font-family: "Raleway", sans-serif;
              font-weight: 300;
            }
          }
          #dot4 {
            p {
              letter-spacing: -0.5px;
            }
          }

          #dot1:hover p,
          #dot2:hover p,
          #dot3:hover p,
          #dot4:hover p,
          #dot5:hover p {
            color: #ff5252;
          }

        }

        @media screen and (max-width: 685px) {
          .container {
            border: none;
            width: $small_width;
            height: 0;
            padding-bottom: $small_height;

            .slide_img {
              .prev, .next {
                width: $small_nav_width;
              }

              .prev span, .next span {
                border: solid 12px;
              }
              .prev span {
                border-color: transparent #fff transparent transparent;
              }
              .next span {
                border-color: transparent transparent transparent #fff;
              }
            }

            #nav_slide .dots {
              width: 12px;
              height: 12px;
            }
          }
        }

      }

      #i1:checked ~ #one,
      #i2:checked ~ #two,
      #i3:checked ~ #three,
      #i4:checked ~ #four,
      #i5:checked ~ #five {
        z-index: 2;
        animation: scroll 1s linear;
      }

      #i1:checked ~ #nav_slide #dot1 p,
      #i2:checked ~ #nav_slide #dot2 p,
      #i3:checked ~ #nav_slide #dot3 p,
      #i4:checked ~ #nav_slide #dot4 p,
      #i5:checked ~ #nav_slide #dot5 p {
        color: #ff5252;
      }
      //}
    }

    //carousel
  }

  @keyframes scroll {
    0% {
      opacity: .1;
    }
    100% {
      opacity: 1;
    }
  }

  //media

  @media (min-width: 1500px) {
    .homepage {
      .solution {
        .conteiner {

        }
      }
    }
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .homepage {
      .solution {
        .conteiner {

        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {

    .homepage {
      .main_section {
        .container {
          div {
            h2 {
              font-size: 50px;
            }
          }
        }
      }

      .solution {

        .container {
          .solution_body {
            //width: 800px !important;
            .solution_item {
              width: 400px;
            }
          }
        }
      }
      .carousel {
        .carousel_content {
          .slide_img {
            .prev {
              left: 15%;
            }
            .next {
              right: 19%;
            }
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .homepage {
      .main_section {
        .container {
          div {
            align-items: center;
            h1 {
              line-height: 100px;
            }
            h2 {
              font-size: 39px;
            }
            button {
              margin-top: 60px;
              margin-left: inherit;
            }

          }
        }
      }
      .solution {
        height: auto;
        .container {
          .solution_body {
            width: auto !important;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            justify-content: center;
            .solution_item {
              position: relative;
              margin: 10px;
              left: inherit !important;
            }
          }
        }
      }
      .proactive {
        .container {
          width: auto;
          .proactive_img {
            display: none;
          }

        }
      }
      .carousel {

        height: 650px;
        .carousel_content {
          height: 650px;
          .slide_img {
            height: 650px;
            .prev {
              left: 4%;
            }
            .next {
              right: 10%;
            }
          }
          #nav_slide {
            top: 33%;
            .dots {
              width: 109px;
            }

          }
        }
      }
    }
  }

  @media (min-width: 540px) and (max-width: 768px) {
    .homepage {
      .main_section {
        .container {
          div {
            align-items: center;
            h1 {
              line-height: 100px;
            }
            h2 {
              font-size: 35px;
            }
            button {
              margin-top: 60px;
              margin-left: inherit;
            }

          }
        }
      }
      .solution {
        height: auto;
        .container {
          .solution_title {
            flex-direction: column;
          }
          .solution_body {
            padding-top: 100px;
            width: auto !important;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            justify-content: center;
            .solution_item {
              position: relative;
              margin: 10px;
              left: inherit !important;
            }
          }
        }
      }
      .proactive {
        height: auto;
        .container {
          width: auto;
          height: auto !important;
          .proactive_img {
            display: none;
          }
          div {
            //flex-direction: column;
            div {
              //display: none;
            }
          }

        }
      }
      .carousel {

        height: 500px;
        .carousel_content {
          height: 500px;
          .slide_img {
            height: 500px;
            img {
              border-radius: 0 !important;
            }
            .next {

              right: 8%;
            }
            .prev {
              left: 0;
            }
          }
          .slide_content {
            width: 500px !important;
            margin-left: -250px !important;
            text-align: center;
            top: 30% !important;
          }

          #nav_slide {
            display: none;

          }
        }
      }
    }
  }

  @media (max-width: 540px) {
    .homepage {
      .main_section {
        .container {
          div {
            align-items: center;
            h1 {
              line-height: 150px;
              margin-top: 100px;
              font-size: 48px;
            }
            h2 {
              font-size: 32px;
            }
            button {
              margin-top: 60px;
              margin-left: inherit;
            }

          }
        }
      }
      .solution {
        height: auto;
        .container {
          .solution_title {
            flex-direction: column;
          }
          .solution_body {
            padding-top: 100px;
            width: auto !important;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            -webkit-align-content: center;
            align-content: center;
            justify-content: center;
            .solution_item {
              height: 550px;
              position: relative;
              margin: 10px;
              left: inherit !important;
              .solution_body_item {
                width: 250px;
                h3 {
                  font-size: 45px;
                }
              }
            }
          }
        }
      }
      .proactive {
        height: auto;
        .container {
          height: auto !important;
          width: auto;
          div:nth-child(1) {
            width: auto;
            flex-direction: column;
            flex-wrap: nowrap;
            h3 {
              font-size: 44px;
            }

            .proactive_list {
              //display: none;
              div {
                flex-direction: row;
                width: 100%;
                margin: 20px 0;
                button {
                  width: 240px;
                }
              }

              //margin: 20px 0;
            }
            button.main_button {
              padding: 12px 24px;
              margin-top: 50px;
            }
          }
          .proactive_img {
            display: none;
          }
        }
      }
      .carousel {

        width: auto;
        padding: 0;
        height: 520px;
        .carousel_content {
          height: 520px;
          h3 {
            top: -1%;
            font-size: 22px;
            left: 50%;
            margin-left: -150px;
            width: 300px;
            text-align: center;
          }

          .slide_img {
            height: 520px;
            img {
              border-radius: 0 !important;
            }
            .next {

              right: 8%;
            }
            .prev {
              left: 0;
            }


          }
          .slide_content {
            text-align: center;
            top: 18% !important;
            width: 300px !important;
            left: 50% !important;
            margin-left: -150px !important;
            h4 {
              margin-bottom: 0px;
            }
            p {
              margin-bottom: 15px !important;
            }
          }

          #nav_slide {

                display: none;

          }

        }
      }
    }
  }
}